
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div id="success">
    <h2>Đơn đặt hàng của bạn không thành công !</h2>
    <p>Bạn vui lòng gọi điện qua hotline để đặt lại đơn hàng !</p>
</div>


