@model IEnumerable<TOTO.Models.tblImage>
<div id="Headder">
    <div id="Left_Headder">
        <div id="slideshow">
            <div id="slide">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                        @Html.Raw(ViewBag.chuoislide)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Right_Headder">
        <div class="Tear_Adw" style="background:url(../Content/Display/iCon/CATALOGUE.png) no-repeat">
            <a href="/Catalogues" title="Catalogis" rel="nofollow"><span></span></a>
        </div>
        <div class="Tear_Adw" style="background:url(../Content/Display/iCon/News.png) no-repeat">
            <div class="Conten_Tear_Adwt">
                @Html.Raw(ViewBag.chuoi)
            </div>
            <a href="/2/Tin-tuc" title="Tin tức" rel="nofollow"><span></span></a>
        </div>
        <div class="Tear_Adw" style="background:url(../Content/Display/iCon/techcologys.png) no-repeat">
            <a href="/2/Cong-nghe-san-pham" title="Công nghệ"><span></span></a>
        </div>
    </div>
</div>